<div class="board">
  <% @board.each_row do |row| %>
    <div class="row">
      <% row.each do |cell| %>
          <% if (cell.symbol == nil) %>
            <form action="/make_move" method="POST">
              <input type="hidden" name="move" value="<%= cell.index %>" />
              <input id="cell-btn" type="submit" value="___" />
            </form>
          <% else %>
            <form action="/make_move" method="POST">
              <input id="cell-btn" type="submit" name="<%= cell.index %>" value=" <%= cell.symbol %> " readonly />
            </form>
          <% end %>
        </form>
      <% end %>
    </div>
  <% end %>
</div>