<div>
  <form id="setup-form" action="/setup" method="POST">

    <div class="form-section">
      Select your mark:
      <input type="radio" name="player_mark" value="X" />X
      <input type="radio" name="player_mark" value="O" />O
    </div>

    <% if params[:player_mark] == {} %>
      <p><%= @invalid_input_messages[:player_mark] %></p>
    <% end %>

    <div class="form-section">
      Would you like to play against the computer?:
      <input type="radio" name="opponent" value="yes" />Yes
      <input type="radio" name="opponent" value="no" />No
    </div>

    <% if params[:opponent] == nil %>
      <p><%= @invalid_input_messages[:opponent] %></p>
    <% end %>

    <div class="form-section">
      Would you like to go first or second?:
      <input type="radio" name="player_order" value="first" />First
      <input type="radio" name="player_order" value="second" />Second
    </div>

    <% if params[:player_order] == nil %>
      <p><%= @invalid_input_messages[:player_order] %></p>
    <% end %>

    <div class="form-section">
      <input id="setup-submit" type ="submit" value="Submit" />
    </div>
  </form>
</div>