<form action="/mark" method="POST">
  Player 1, select your mark:
  <input type="radio" name="player_mark" value="X" />X
  <input type="radio" name="player_mark" value="O" />O
  <input type ="submit" value="Submit" />
</form>

