<!DOCTYPE html>
  <head>
    <link href='/css/stylereset.css' rel="stylesheet" type="text/css">
    <link href='/css/main.css' rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Tic Tac Toe</h1>
      <%= yield %>
    </div>
  </body>
</html>