body {
  font-family: 'Open Sans', sans-serif;
}

div.container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

div.container h1 {
  text-align: center;
  margin: 20px auto 10px auto;
  padding: 10px;
  width: 200px;
  font-size: 2em;
}

div.board {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

form {
  display: inline-block;
  margin: 5px;
}

form div.form-section {
  font-size: 1.1em;
  font-weight: 300;
  padding: 5px;
}

input#setup-submit {
  margin-top: 10px;
  font-size: 1.8em;
  height: 80px;
  width: 80px;
}

#setup-form p {
  color: red;
  font-size: 0.9em;
  font-weight: 300;
  margin: 5px;
}

input#cell-btn {
  border: 1px solid black;
  border-radius: 3px;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
}
